<ul class="list-group">
    <li class="list-group-item"><img id="Image1" src="/assets/images/ai.gif" height="160px" width="324px" style="cursor:pointer"></li>
    <li class="list-group-item"><img id="Image2" src="/assets/images/deep.png" height="160px" width="324px" style="cursor:pointer"></li>
    <li class="list-group-item"><img id="Image3" src="/assets/images/neuron.png" height="160px" width="324px" style="cursor:pointer"></li>
    <li class="list-group-item"><img id="Image4" src="/assets/images/robot.png" height="160px" width="324px" style="cursor:pointer"></li>
    <li class="list-group-item"><img id="Image5" src="/assets/images/AngularJS_logo.png" height="160px" width="324px" style="cursor:pointer"></li>
</ul>




