<ul class="list-group">
    <li class="list-group-item"><img id="Image1" src="/assets/images/python.png" style="cursor:pointer"></li>
    <li class="list-group-item"><img id="Image2" src="/assets/images/machine_learning.jpg" height="160px" width="324px" style="cursor:pointer"></li>
    <li class="list-group-item"><img id="Image3" src="/assets/images/Tensorflow_logo.png" height="160px" width="324px" style="cursor:pointer"></li>
    <li class="list-group-item"><img id="Image4" src="/assets/images/nodejs_new.png" height="160px" width="324px" style="cursor:pointer"></li>
    <li class="list-group-item"><img id="Image5" src="/assets/images/mongodb.jpg" height="160px" width="324px" style="cursor:pointer"></li>
</ul>




